* {
  box-sizing: border-box;
}

body {
  --dark: #121212;
  --darkish: #222;
  --light: #ddd;
  --lightish: #919191;
  
  background-color: var(--dark);
  background-image: url("imgs/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--light);
  min-height: 100vh;
  margin: 0px;
  font-family: Arial, Helvetica;
  padding-bottom: 20vh;
}

button {
  border: 0px;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}

header {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pro-header {
  font-family: monospace, Helvetica, Arial;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1.2vh solid var(--lightish);
  border-top: 1.2vh solid var(--lightish);
  background-color: var(--darkish);
  width: 100vw;
}

.pfp {
  width: 11vh;
  height: 11vh;
  margin: 1vw 3vw;
  border: 0.5vw solid var(--dark);
  border-radius: 50%;
}

#nav-header {
  display: flex;
  flex-direction: column;
}

nav {
  font-size: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  color: var(--dark);
  text-align: center;
  padding: 1vh;
  width: 25%;
  border: 1px solid var(--dark);
  border-radius: 5px;
  background-color: var(--lightish);
  text-decoration: none;
}

@media screen and (orientation: portrait) and (max-device-width: 500px) {
  nav a {
    width: 33%;
    font-size: 150%;
    text-align: center;
  }
}

nav a:hover {
  filter: brightness(125%);
  cursor: pointer;
}

nav a:active {
  filter: brightness(80%);
}

h1, h2{
  text-align: center;
  margin: auto;
  font-size: 3vw;
  line-spacing: 0vh;
  text-shadow: 1px 1px 2px var(--dark),
               2px 2px 2px var(--dark),
               3px 3px 2px var(--dark);
}

hr {
  width: calc(100% - 2 * 5vw);
}

#mini-bio h2 {
  margin: 2vh auto auto;
  text-align: center;
  padding-bottom: 2vh;
}

footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  float: right;
  font-size: 2vh;
  background-color: var(--dark);
  opacity: 85%;
}

.main-box {
  margin: 5vh auto 0vh auto;
  width: 70vw;
  background-color: var(--darkish);
  opacity: 95%;
  border: 1vh solid #0b0b75;
  font-size: min(3vh, 3vh);
}
