<!DOCTYPE html>
<html>
    <head>
        <title> 404 uh oh </title>
    </head>

    <body>
        <h1> 404 Resource Not Found </h1>
        <p> I'm sorry, it looks like that resource is missing... </p>
        <p> Would you like to go <a href="/home">home</a>? </p>
    </body>
</html>
