<!DOCTYPE html>

<html>
    <head>
        <title> Admin </title> 
    </head>

    <body>
        <h1> Admin </h1>
        <a href="/admin/password">Change Password</a>
        <a href="/admin/logout">Logout</a>
    </body>
</html>
