<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title> Malakai C </title>
        <link rel="stylesheet" type="text/css" href="/styles/home.css">

        <script src="/scripts/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="/scripts/home.js"></script>
    </head>

    <body>
        <div id="main-wrapper">
            <div id="header-and-main-content">
                <header>
                    <div class="header-wrapper" id="header-pfp-wrapper">
                        <button onclick="scrollToId('mini-bio')" id="header-pfp-button">
                        </button>
                    </div>
                    
                    <div class="header-wrapper" id="central-header-wrapper">
                        <nav id="header-nav">
                            <button onclick="scrollToId('projects-display')" class="link-button"> 
                                <span class="text">
                                    Projects
                                </span>
                            </button>
                            <button onclick="scrollToId('main-bio')" class="link-button"> 
                                <span class="text">
                                    Bio
                                </span>
                            </button>
                            <button onclick="scrollToId('contact')" class="link-button"> 
                                <span class="text">
                                    Contact
                                </span>
                            </button>
                        </nav>
                    </div>
                    
                    <div class="header-wrapper" id="navigation-button-wrapper">
                        <button onclick="openNavigationContent()" id="navigation-button">
                            <div id="navigation-button-line1"></div>
                            <div id="navigation-button-line2"></div>
                        </button>
                    </div>

                        
                </header>

                <div id="main-content">
                    <section id="mini-bio" class="main-section">
                        <img src="/images/pfp.png" alt="PFP">
                        <h1>Malakai "Shaylin" C.</h1>
                        <p>
                            Self taught computer programmer and full stack web developer, with a passion for expanding my knowledge and applying it.
                        </p>
                        <blockquote>
                            <p class="quote">
                                “Happy is the man that findeth wisdom, and the man that getteth understanding.”
                            </p>
                        </blockquote>
                        <p class="quote">
                            Proverbs 3:13 KJV
                        </p>
                        
                        

                        <nav id="inner-nav">
                            <button onclick="scrollToId('projects-display')" class="link-button"> 
                                <span class="text">
                                    Projects
                                </span>
                            </button>
                            <button onclick="scrollToId('main-bio')" class="link-button"> 
                                <span class="text">
                                    Bio
                                </span>
                            </button>
                            <button onclick="scrollToId('contact')" class="link-button"> 
                                <span class="text">
                                    Contact
                                </span>
                            </button>
                        </nav>
                    </section>

                    <section id="projects-display" class="main-section">
                        <div id="projects-wrapper">
                            <div class="project-wrapper">
                                <div class="project">Project 1</div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">Project 2</div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">Project 3</div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">Project 4</div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">Project 5</div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">Project 6</div>
                            </div>
                        </div>

                        <div class="tools-list">
                            
                            <img class="tool-wrapper" src="/images/c.png" alt="C" title="C">
                            <img class="tool-wrapper" src="/images/cpp.png" alt="C++" title="C++">
                            <img class="tool-wrapper" src="/images/py.png" alt="Python 3" title="Python 3">
                            <img class="tool-wrapper" src="/images/html.png" alt="HTML 5" title="HTML 5">
                            <img class="tool-wrapper" src="/images/css.png" alt="CSS 3" title="CSS 3">
                            <img class="tool-wrapper" src="/images/js.png" alt="JavaScript" title="JavaScript">
                            
                        </div>

                        <div class="tools-list">
                            
                            <img class="tool-wrapper" src="/images/vsc.png" alt="VSCode" title="VSCode">
                            <img class="tool-wrapper" src="/images/git.png" alt="Git" title="Github">
                            <img class="tool-wrapper" src="/images/github.png" alt="Github" title="Github">
                            <img class="tool-wrapper" src="/images/node.png" alt="Node.js" title="Node.js">
                            <img class="tool-wrapper" src="/images/express.png" alt="Express.js" title="Express.js">
                            <img class="tool-wrapper" src="/images/jquery.png" alt="JQuery" title="JQuery">
                            
                        </div>

                    </section>

                    <section id="main-bio" class="main-section">
                        <h2> About Me </h2>
                        <div class="paragraph-wrapper">
                            <p>
                                As a ranch worker, most of my life has been spent on a small ranch in central Texas, doing farm work and helping care for livestock. I've been blessed with excellent elders to learn from, and have a love for working with others from it.
                            </p>
                            <p>    
                                I was born and raised a Christian, and stand strong as one today. I give all praise and glory to the Lord and don't believe I can accomplish anything without Him.
                            </p>
                            <p>
                                I was given an interest in science and computers by my grandfather when I was fairly young, though I didn't actually start programming until early 2020 when I started with Codecademy. I soon got involved working in their community, and mid 2020 I joined their Discord. I got my first experience working with a group on a programming project, helping to build the initial version of the Codecademy Community Moderation Bot. I was promoted to moderator on the CC Discord server in 2021, and gained a lot of great experiences working with and helping other programmers.
                            </p>
                            <p>
                                In early 2022 Skillsoft bought Codecademy and I felt it was time for me to move on from it. I resigned as a moderator in April, and joined a group of other volunteers to begin building the Project Nu forums.    
                            </p>
                            <p>
                                My fascination with technology is balanced with a love for a more "primitive" day. I love the outdoors and traditional trades. With ranch life you pick up many odd skills and so I have some knowledge of woodworking, plumbing, fencing, and electrical. I've fiddled with hunting, and taxidermy as a trade. For physical fitness I love martial arts, and train often in brazillion jiujitsu. 
                            </p> 
                        </div>

                        
                    </section>

                    <section id="contact" class="main-section">
                        <div id="contact-wrapper">
                            <a class="contact-anchor" href="mailto:malakai.8bit@outlook.com" target="_blank">
                                <button class="link-button"> 
                                    <span class="text">
                                        malakai.8bit@outlook.com
                                    </span>
                                </button>
                            </a>
                            
                            <a class="contact-anchor" href="https://github.com/Shaylin-8bit" target="_blank">
                                <button class="link-button"> 
                                    <span class="text">
                                        Github - Shaylin-8bit
                                    </span>
                                </button>
                            </a>

                            <a class="contact-anchor" href="https://linkedin.com/in/malakai-c/" target="_blank">
                                <button class="link-button"> 
                                    <span class="text">
                                        Linkedin - Malakai-C
                                    </span>
                                </button>
                            </a>
                            
                            <a class="contact-anchor" href="https://replit.com/@ShaylinTRK" target="_blank">
                                <button class="link-button"> 
                                    <span class="text">
                                        Replit - @ShaylinTRK
                                    </span>
                                </button>
                            </a>
                        </div>
                    </section>
                </div>
            </div>

            <div id="navigation-content">
                <nav>
                    <p>
                        <a>Option One</a>
                    </p>
                    <p>
                        <a>Option One</a>
                    </p>
                    <p>
                        <a>Option One</a>
                    </p>
                </nav>
            </div>
        </div>
    </body>    
</html>
