<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title> Malakai C </title>
        <link rel="stylesheet" type="text/css" href="/styles/home.css">

        <script src="/scripts/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="/scripts/home.js"></script>
    </head>

    <body>
        <div id="main-wrapper">
            <div id="header-and-main-content">
                <header>
                    <div class="header-wrapper" id="header-pfp-wrapper">
                        <button onclick="scrollToId('mini-bio')" id="header-pfp-button">
                        </button>
                    </div>
                    
                    <div class="header-wrapper" id="central-header-wrapper">
                        <nav id="header-nav">
                            <button onclick="scrollToId('projects-display')" class="link-button"> 
                                <span class="text">
                                    Projects
                                </span>
                            </button>
                            <button onclick="scrollToId('main-bio')" class="link-button"> 
                                <span class="text">
                                    Bio
                                </span>
                            </button>
                            <button onclick="scrollToId('contact')" class="link-button"> 
                                <span class="text">
                                    Contact
                                </span>
                            </button>
                        </nav>
                    </div>
                    
                    <div class="header-wrapper" id="navigation-button-wrapper">
                        <button id="navigation-button">
                            <div id="navigation-button-line1"></div>
                            <div id="navigation-button-line2"></div>
                        </button>
                    </div>

                        
                </header>

                <div id="main-content">
                    <section id="mini-bio" class="main-section">
                        <img src="/images/pfp.png" alt="PFP">
                        <h1>Malakai "Shaylin" C.</h1>
                        <div class="paragraph-wrapper">
                            <p>
                                Self taught computer programmer and full stack web developer, with a passion for expanding my knowledge and applying it.
                            </p>
                        </div>

                        <div class="paragraph-wrapper">
                            <blockquote>
                                <p class="quote">
                                    “Happy is the man that findeth wisdom, and the man that getteth understanding.”
                                </p>
                                <p class="quote">
                                    Proverbs 3:13 KJV
                                </p>
                            </blockquote>
                            
                        </div>
                            
                        <nav id="inner-nav">
                            <button onclick="scrollToId('projects-display')" class="link-button"> 
                                <span class="text">
                                    Projects
                                </span>
                            </button>
                            <button onclick="scrollToId('main-bio')" class="link-button"> 
                                <span class="text">
                                    Bio
                                </span>
                            </button>
                            <button onclick="scrollToId('contact')" class="link-button"> 
                                <span class="text">
                                    Contact
                                </span>
                            </button>
                        </nav>
                    </section>

                    <section id="projects-display" class="main-section">
                        <div id="projects-wrapper">
                            <div class="project-wrapper">
                                <div class="project">Project 1</div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">Project 2</div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">Project 3</div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">Project 4</div>
                            </div>
                        </div>

                        <div class="tools-list-wrapper">
                            <h2> Languages </h2>
                            <div class="tools-list">
                                <img class="tool-wrapper" src="/images/c.png" alt="C" title="C">
                                <img class="tool-wrapper" src="/images/cpp.png" alt="C++" title="C++">
                                <img class="tool-wrapper" src="/images/py.png" alt="Python 3" title="Python 3">
                                <img class="tool-wrapper" src="/images/html.png" alt="HTML 5" title="HTML 5">
                                <img class="tool-wrapper" src="/images/css.png" alt="CSS 3" title="CSS 3">
                                <img class="tool-wrapper" src="/images/js.png" alt="JavaScript" title="JavaScript">
                            </div>
                        </div>

                        <div class="tools-list-wrapper">
                            <h2> Tools </h2>
                            <div class="tools-list">
                                <img class="tool-wrapper" src="/images/vsc.png" alt="VSCode" title="VSCode">
                                <img class="tool-wrapper" src="/images/git.png" alt="Git" title="Git">
                                <img class="tool-wrapper" src="/images/github.png" alt="Github" title="Github">
                                <img class="tool-wrapper" src="/images/node.png" alt="Node.js" title="Node.js">
                                <img class="tool-wrapper" src="/images/express.png" alt="Express.js" title="Express.js">
                                <img class="tool-wrapper" src="/images/jquery.png" alt="JQuery" title="JQuery">
                            </div>
                        </div>

                    </section>

                    <section id="main-bio" class="main-section">
                        <div class="paragraph-wrapper">
                            <h2> About Me </h2>
                            <div id="main-bio-inner-wrapper">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p> 
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p> 
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p> 
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p> 
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p> 
                            </div>
                        </div>

                        
                    </section>

                    <section id="contact" class="main-section">
                        <div id="outer-contact-wrapper">
                            <div class="paragraph-wrapper"> 
                                <h2> Contact </h2>

                                <div id="contact-wrapper">
                                    <a class="contact-anchor" href="mailto:malakai.8bit@outlook.com" target="_blank">
                                        <button class="link-button"> 
                                            <span class="text">
                                                malakai.8bit@outlook.com
                                            </span>
                                        </button>
                                    </a>
                                    
                                    <a class="contact-anchor" href="https://github.com/Shaylin-8bit" target="_blank">
                                        <button class="link-button"> 
                                            <span class="text">
                                                Github - Shaylin-8bit
                                            </span>
                                        </button>
                                    </a>

                                    <a class="contact-anchor" href="https://linkedin.com/in/malakai-c/" target="_blank">
                                        <button class="link-button"> 
                                            <span class="text">
                                                Linkedin - Malakai-C
                                            </span>
                                        </button>
                                    </a>
                                    
                                    <a class="contact-anchor" href="https://replit.com/@ShaylinTRK" target="_blank">
                                        <button class="link-button"> 
                                            <span class="text">
                                                Replit - @ShaylinTRK
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                            
                    </section>
                </div>
            </div>

            <div id="navigation-content">
                <nav>
                    <p>
                        <a>Option One</a>
                    </p>
                    <p>
                        <a>Option One</a>
                    </p>
                    <p>
                        <a>Option One</a>
                    </p>
                </nav>
            </div>
        </div>
    </body>    
</html>
