<!DOCTYPE html>

<html>
    <head>
        <title>Admin Password</title>
    </head>

    <body>
        <h1> Update Admin Password </h1>
        <% if (message) { %>
            <h2><%= message %></h2>
        <% } %>
        <form action="/admin/password" method="post">
            <div>
                <label for="currentPassword">Current Password</label>
                <input type="password" name="currentPassword" id="currentPassword" required>
            </div>
            
            <div>
                <label for="newPassword">New Password</label>
                <input type="password" name="newPassword" id="newPassword" required>
            </div>

            <div>
                <label for="confirm">Confirm</label>
                <input type="password" name="confirm" id="confirm" required>
            </div>

                <button type="submit">Update</button>
        </form>
        <a href="/admin">Admin</a>
    </body>
</html>
