<!DOCTYPE html>
<html>
    <head>
        <title> Projects Editor </title>
    </head>

    <body>
        <h1> Projects Editor </h1>
        <form action="/admin/newProject" method="POST">
            <textarea name="content"></textarea>
            <button type="submit">Create Project</button>
        </form>
    </body>
</html>
