* {
  box-sizing: border-box;
}

body {
  --dark: #121212;
  --darkish: #222;
  --light: #ddd;
  --lightish: #919191;
  
  background-color: var(--dark);
  background-image: url("imgs/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--light);
  min-height: 100vh;
  margin: 0px;
  font-family: Arial, Helvetica;
  padding-bottom: 20vh;
}

button {
  border: 0px;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}

header {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pro-header {
  font-family: monospace, Helvetica, Arial;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1.2vh solid var(--lightish);
  border-top: 1.2vh solid var(--lightish);
  background-color: var(--darkish);
  width: 100vw;
}

.pfp {
  width: 11vh;
  height: 11vh;
  margin: 1vw 3vw;
  border: 0.5vw solid var(--dark);
  border-radius: 50%;
}

#nav-header {
  display: flex;
  flex-direction: column;
}

nav {
  font-size: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  color: var(--dark);
  text-align: center;
  padding: 1vh;
  width: 25%;
  border: 1px solid var(--dark);
  border-radius: 5px;
  background-color: var(--lightish);
}

nav a:hover {
  filter: brightness(125%);
  cursor: pointer;
}

nav a:active {
  filter: brightness(80%);
}

h1, h2{
  margin: auto;
  font-size: 3vw;
  line-spacing: 0vh;
  text-shadow: 1px 1px 2px var(--dark),
               2px 2px 2px var(--dark),
               3px 3px 2px var(--dark);
}

#mini-bio {
  padding-bottom: 2vh;
}

#mini-bio p {
  font-size: min(3vw, 3vh);
  margin: 2vh 5vw;
}

hr {
  width: calc(100% - 2 * 5vw);
}

#mini-bio h2 {
  margin: 2vh auto auto;
  text-align: center;
  padding-bottom: 2vh;
}

footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  float: right;
  font-size: 2vh;
  background-color: var(--dark);
  opacity: 85%;
}

.main-box {
  margin: 5vh auto 0vh auto;
  width: 70vw;
  background-color: var(--darkish);
  opacity: 95%;
  border: 1vh solid #0b0b75;
  font-size: 3vh;
}

#projects {
  display: flex;
  flex-direction: column;
}

#projects-listing {
  margin: 0px 5vw;
  display: flex;
  flex-direction: row;
  min-height: 200px;
  padding: 2vh, 0px;
}

.proj-button:hover {
  transform: scale(1.05);
}

#fancy-dis {
  font-size: 2vw;
  --b: min(1vw, 1vh);
  --br: 15%;
  width: 33vw;
  height: 33vw;
  position: relative;
}

#inner-fancy-dis {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.buffer {
  height: 0%;
}

#inner-fancy-dis .proj-box {
  position: relative;
  background-color: var(--darkish);
  border: var(--b) solid var(--lightish);
  border-radius: var(--br);
  width: 46%;
  padding-top: 46%;
  margin: 2%;
}

.mask {
  box-sizing: content-box;
  background-color: var(--darkish);
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: var(--br);
}

.proj-content {
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.top {
  top: 0px;
}

.bottom {
  bottom: 0px;
}

#top-left-mask {
  left: 50%;
  top: 50%;
  border-top: var(--b) solid var(--lightish);
  border-left: var(--b) solid var(--lightish);
}

#top-right-mask {
  left: calc(-1 * var(--b));
  top: 50%;
  border-top: var(--b) solid var(--lightish);
  border-right: var(--b) solid var(--lightish);
}

#bot-left-mask {
  left: 50%;
  top: calc(-1 * var(--b));
  border-bottom: var(--b) solid var(--lightish);
  border-left: var(--b) solid var(--lightish);
}

#bot-right-mask {
  top: calc(-1 * var(--b));
  left: calc(-1 * var(--b));
  border-bottom: var(--b) solid var(--lightish);
  border-right: var(--b) solid var(--lightish);
}

#mid-box {
  background-color: var(--darkish);
  border: var(--b) solid var(--lightish);
  border-radius: var(--br);
  width: 36%;
  padding-top: 36%;
  position: absolute;
  z-index: 3;
  top: 32%;
  left: 32%;
}

#second-dis {
  margin-left: 2vw;
  width: 33vw;
  height: 31vw;
  background: var(--dark);
  border-radius: 15%;
  padding: 2vw;
}

#second-dis .content {
  margin: 0px;
  height: 100%;
  overflow: scroll;
}

#second-dis p {
  font-size: 2vw;
  width: 80%;
  margin: 0px auto;
}
