body {
    overflow: hidden;
    margin: 0px;
    background-color: var(--dark);
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px);
    color: var(--light);
    font-size: max(1vh, 1vw);
    font-family: Arial, Helvetica, sans-serif;
}

#main-content::-webkit-scrollbar {
    width: 5%;
}

#main-content::-webkit-scrollbar-track {
    background-color: blue;
}

h1 {
    text-shadow: 
        2px 1px var(--dark),
        4px 2px var(--dark)
    ;
}

p {
    text-shadow: 2px 1px var(--darkish);
}

h2 {
    margin: auto;
    text-align: center;
}

h3 {
    text-align: center;
}

.main-section {
    height: 100%;
    scroll-snap-align: center;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

.link-button {
    background: linear-gradient(to bottom right, var(--red), var(--blue));
    height: 100%;
    margin-top: auto;
    min-width: 20%;
    max-width: 33%;
    box-shadow: 2px 1px var(--darkish);
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border: .1vw outset var(--light);
    position: relative;
}

.link-button:active {
    border: .1vw inset var(--light);
    position: relative;
    top: 1px;
    left: 2px;
    box-shadow: none;
}

.link-button .text {
    font-size: max(2vw, 2vh);;
    color: var(--light);
}

#main-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.paragraph-wrapper {
    width: 60%;
    margin: 0% auto;
    margin-bottom: 5%;
    background-color: var(--dark);
    border: 1px solid var(--darkish);
    border-radius: 5%;
    overflow-y: auto;
}

#header-and-main-content {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: var(--header-height);
    background-color: rgba(12, 12, 12, .3);
}

.header-wrapper {
    flex: 1 0 0;
}

#central-header-wrapper {
    flex: 3 0 0;
}

#header-pfp-wrapper {
    display: flex;
    justify-content: space-between;
    float: left;
    opacity: 0%;
}

#header-pfp-button {
    width: var(--header-height);
    height: var(--header-height);
    background-image: url("/images/pfp.png");
    background-repeat: no-repeat;
    border-radius: 5%;
    background-size: var(--header-height) var(--header-height);
    background-position: center;
    cursor: pointer;
}

#header-nav { 
    width: 100%;
    height: 100%;
    opacity: 0%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}

#main-content {
    flex-grow: 1;
    overflow: auto;
    scroll-snap-type: y proximity;
}



/* Mini Bio / First Section */

#mini-bio {
    text-align: center;
    background-color: rgba(12, 12, 12, .3);
}

#mini-bio p {
    width: 90%;
    max-width: 90%;
    margin: 2% auto;
}

#mini-bio img {
    width: min(20vh, 20vw);
    height: min(20vh, 20vw);
    border-radius: 5%;
    margin: auto;
    margin-bottom: 0;
}

blockquote {
    margin: 0;
}

blockquote .quote {
    background-color: rgba(12, 12, 12, var(--text-box-opacity));
    margin: 1vh auto;
}

#inner-nav {
    height: 50px;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


/* Projects / Second Section */

#projects-header {
    height: 5%;
    margin-top: 1%;
}

#projects-wrapper {
    width: 61.5%;
    height: 40%;
    margin: auto;
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-wrapper {
    width: 50%;
    height: 45%;
    position: relative;
}

.project {
    display: block;
    color: var(--light);
    text-decoration: none;
    width: 95%;
    height: 95%;
    margin: 2.5%;
    background-color: var(--dark2);
    border: 1px solid var(--darkish);
    border-radius: 5%;
    opacity: var(--text-box-opacity);
}

.project h3 {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin: 0%;
    width: 100%;
    text-align: center;
    font-size: min(2vw, 2vh);
}

.project img {
    position: relative;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: min(10vw, 10vh);
    height: min(10vw, 10vh);
}

.tools-list-wrapper {
    height: 14%;
    width: 60%;
    max-width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--dark2);
    border: 1px solid var(--darkish);
    border-radius: 5%;
    padding: 1% 0%;
}

.tools-list {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 50%;
}

.tool-wrapper {
    display: inline-table;
    height: 100%;
    margin: 0% 2%;
}


/* About Me / Third Section */

#main-bio .paragraph-wrapper {
    height: 94%;
    margin: 3% auto;
    overflow: hidden;
}

#main-bio-inner-wrapper {
    overflow-y: auto;
    height: 80%;
}

#main-bio h2 {
    margin: 2% auto;
    padding: 0%;
    text-align: center;
    width: 80%;
}

#main-bio p {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}


/* Contact / Fourth Section */

#outer-contact-wrapper {
    margin: 0% auto;
    height: 100%;
    width: 60%;
    position: relative;
}

#contact .paragraph-wrapper {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contact-wrapper {
    width: 50%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-anchor {
    max-width: 45%;
    width: 45%;
    height: 20%;
}

#contact-wrapper .link-button {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

#contact-wrapper .link-button .text {
    font-size: max(1vh, 1vw);
}


/* Extra Navigation */

#navigation-button {
    height: var(--header-height);
    width: var(--header-height);
    float: right;
    border-radius: 5%;
    background: linear-gradient(to bottom right, var(--red), var(--blue));
    box-shadow: 2px 1px var(--darkish);
    position: relative;
    cursor: pointer;
}

#navigation-button:active {
    position: relative;
    top: 1px;
    left: 2px;
    box-shadow: none;
}

#navigation-button-line1 {
    width: 65%;
    height: 10%;
    background-color: var(--light);
    margin: auto;
    transform: translateY(-118%) rotate(-45deg);
    position: relative;
}

#navigation-button-line2 {
    width: 65%;
    height: 10%;
    background-color: var(--light);
    margin: auto;
    position: relative;
    transform: translateY(118%) rotate(45deg);
}

#navigation-content {
    overflow: hidden;
    width: 0%;
    max-width: 50vw;
    height: 100%;
    float: left;
    flex: 0 0 auto;
    z-index: 5;
    background-color: var(--dark);
    border: 1px solid #757575;
}

@media screen and (orientation: portrait) and (max-device-width: 500px) {
    #central-header-wrapper {
        display: none;
    }

    #main-content {
        scroll-snap-type: y proximity;
    }

    #inner-nav {
        width: 90%;
        height: var(--header-height);
    }

    #mini-bio p {
        max-width: 90%;
    }

    #projects-wrapper {
        width: 94.5%;
        height: 70%;
        margin: auto;
        overflow: hidden;
    } 

    .project-wrapper {
        width: 100%;
        height: 19%;
    } 

    .tools-list-wrapper {
        height: 13%;
        width: 95%;
    }  

    .tool-wrapper {
        height: 50%;
        max-width: 20%;
    } 

   .paragraph-wrapper {
        width: 90%;
        margin: 5% auto;
    }
    
    #outer-contact-wrapper {
        width: 90%;
        margin: auto;
    }

    #outer-contact-wrapper .paragraph-wrapper h2 {
        margin: 0px auto;
    }

    #contact-wrapper { 
        height: 80%;
        width: 100%;
        margin: 0px;
    }

    .contact-anchor {
        margin: auto;
        max-width: 90%;
        width: 90%;
        height: 20%;
    }

    #contact-wrapper .contact-anchor .link-button .text {
        font-size: max(2vh, 2vw);
    }

    #main-bio-inner-wrapper {
        position: static;
        transform: none;
    }

    body {
        font-family: Tahoma;
        font-size: max(2vh, 2vw);
    }
} 
